// Fonts
@import url('https://fonts.googleapis.com/css2?family=Srisakdi:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:100%;
}
body{
    background-color: white;
}
#appName{
    color: black;
    font-family: 'Srisakdi', cursive;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.navbar{
    height:50px;
}
strong{
    font-weight: bold;
    font-family:  'Noto Sans JP', sans-serif;
}
.vertical {
    border-left: 1px solid gray;
    height: 90%;
    position:absolute;
    left: 50%;
}
.pagination  li a{
    color:white;
    background-color: gray
}
.pagination  li  .active{
    color:white;
    background-color: gray
}



.notification {
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.notification .new_notif {
  position: absolute;
  top: -8px;
  right: -10px;
  padding: 1px 6px;
  border-radius: 60%;
  background-color: red;
  color: white;
}
.btn-link{
    background-color: grey;
    color:white;
    text-decoration: none;
}
.btn-hover :hover{
    background-color: white;
    text-decoration: none;
}
// 
// .newArticle{
//     background-color:#f5f1f0;
//     font-weight: bold;
// }
