// Fonts
@import url('https://fonts.googleapis.com/css2?family=Srisakdi:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;900&display=swap');

// Variables
@import 'variables';
@import 'staff';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body{
    background-color: white;
}
#appName{
    color: black;
    font-family: 'Srisakdi', cursive;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.navbar{
    height:50px;
}
strong{
    font-weight: bold;
    font-family:  'Noto Sans JP', sans-serif;
}
.vertical {
    border-left: 1px solid gray;
    height: 90%;
    position:absolute;
    left: 50%;
}
.pagination  li a{
    color:white;
    background-color: gray
}
.pagination  li  .active{
    color:white;
    background-color: gray
}
.btn-link{
    background-color: grey;
    color:white;
    text-decoration: none;
}
.btn-hover:hover{
    background-color: white;
    text-decoration: none;
}
.article:hover{
    cursor: pointer;
    background-color: rgb(240, 230, 233);
    border-style: solid;
    border-color: rgb(82, 80, 80);
    border-width: 1px;
}

